*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 400px;
    height: 500px;
    border-radius: 12px;
    background-color: #0f3460;
    padding-top: 2%;
    overflow: hidden;
}
.card .title h1{
    font-family: Gilroy;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 2%;
}
.card .title p{
    font-family: Open Sans;
    color: white;
    text-align: center;
}
.card .image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.card .image .outer{
    background-color: #E94560;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .image .inner{
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
}
.card .image .inner img{
    width: 100%;
}
.card .name{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2%;
}
.card .details{
    background-color: #E94560;
    height: 28%;
    margin-top: 10%;
    border-top-left-radius: 75px;
    padding: 10%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;
    border-top: 4px solid white;
}
.card .details .col{
    width: 70%;
}
.card .details .col img{
    width: 50%;
}
.card .details .col:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details .li{
    margin-top: 2%;
    font-size: 0.9rem;
}
